<aside [class]="style">
  <h2>Menu</h2>
  <nav>
    <ul>
      <li><i class="fas fa-home"></i><a routerLink="" (click)="closePanel()">Strona Główna</a></li>
      <li><i class="fas fa-compass"></i><a routerLink="explore/0/0/27" (click)="closePanel()">Odkrywaj</a></li>
      <li><i class="fas fa-user"></i><a routerLink="user" (click)="closePanel()">Użytkownik</a></li>
      <li><i class="fas fa-shopping-bag"></i><a routerLink="explore/2/5/27" (click)="closePanel()">Przeglądaj</a></li>
    </ul>
  </nav>
</aside>

<!--<div class="glass"></div>-->
