<div class="login">
  <h1>Rejestracja</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>
          <label for="email">Email: </label>
        </td>
        <td>
          <input type="email"
                 id="email"
                 name="email"
                 [(ngModel)]="model.email"
                 placeholder="email"
                 required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="nick">Nazwa: </label>
        </td>
        <td>
          <input type="text"
                 id="nick"
                 name="nick"
                 [(ngModel)]="model.nick"
                 minlength="4"
                 placeholder="nazwa"
                 required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Hasło: </label>
        </td>
        <td>
          <input type="password"
                 id="password"
                 name="password"
                 [(ngModel)]="model.password"
                 minlength="6"
                 placeholder="hasło"
                 required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="birth">Data urodzin: </label>
        </td>
        <td>
          <input type="date" id="birth" name="birth" require>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" class="btn-submit" [disabled]="!userForm.form.valid">Zarejestruj</button>
        </td>
      </tr>
    </table>
    <div *ngIf="!userForm.form.valid" class="errors">
      <ul>
        <li>E-mail</li>
        <ul>
          <li>Podaj E-mail</li>
        </ul>
        <li>Nazwa: </li>
        <ul>
          <li>Podaj nazwę</li>
          <li>Nazwa musi być dłuższa niż 3 znaki</li>
        </ul>
        <li>Hasło: </li>
        <ul>
          <li>Podaj hasło</li>
          <li>Hasło musi być dłuższe niż 5 znaków</li>
        </ul>
      </ul>
    </div>
  </form>
</div>
