<div class="login">
  <div class="form-box">
    <h1><i class="fas fa-user-plus"></i>Rejestracja</h1>
      <form [formGroup]="registerForm" (ngSubmit)="signUp(registerForm.value)">

        <div class="input-group">
          <fieldset>
            <legend>Nazwa: </legend>
            <input type="text" formControlName="nick" id="nick">
          </fieldset>
          <div class="error" *ngIf="registerForm.controls['nick'].invalid && registerForm.controls['nick'].touched">
            Nazwa musi:
            <ul>
              <li>Być nie krótsza niż 4 znaki</li>
              <li>Być nie dłuższa niż 15 znaków</li>
              <li>Nie może zawierać polskich znaków</li>
            </ul>
          </div>
        </div>

        <div class="input-group">
          <fieldset>
            <legend>E-mail: </legend>
            <input type="email" formControlName="email" id="email">
          </fieldset>
          <div class="error" *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
            E-mail musi:
            <ul>
              <li>Istnieć</li>
              <li>Nie zawierać polskich znaków</li>
            </ul>
          </div>
        </div>

        <div class="input-group">
          <fieldset>
            <legend>Hasło: </legend>
            <input type="password" formControlName="password" id="password">
          </fieldset>
          <div class="error"
               *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
            Hasło musi:
            <ul>
              <li>Być niekrótsze niż 6 znaków</li>
              <li>Być niedłuższe niż 20 znaków</li>
            </ul>
          </div>
        </div>

        <div class="input-group">
          <fieldset>
            <legend>Data urodzin: </legend>
            <input type="date" formControlName="birth" id="birth">
          </fieldset>
        </div>

        <div class="input-group">
          <fieldset>
            <legend>Zaakceptuj regulamin: </legend>
            <input type="checkbox" formControlName="terms" id="terms">
          </fieldset>
          <div class="error">
            Aby się zarejestrować musisz zaakceptować regulamin (którego jeszcze nie ma)
          </div>
        </div>

        <div class="input-group">
          <input type="submit" value="Zarejestruj" [disabled]="!registerForm.valid">
        </div>
      </form>
  </div>

  <div class="form-box">
    <h1><i class="fas fa-sign-in-alt"></i>Logowanie</h1>
    <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="signIn(loginForm.value)">
        <div class="input-group">
          <fieldset>
            <legend>E-mail: </legend>
            <input type="email" formControlName="email" id="login-email">
          </fieldset>
        </div>

        <div class="input-group">
          <fieldset>
            <legend>Hasło: </legend>
            <input type="password" formControlName="password" id="login-password"><br>
          </fieldset>
        </div>

        <div class="input-group">
          <input type="submit" value="Zaloguj" [disabled]="!loginForm.valid">
        </div>
      </form>
    </div>
  </div>
</div>
