.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 0px 100px 0px;
  background-color: white;
  // box-shadow: 0 0 2px 0 #484848;
  font-family: 'Caveat', 'cursive';
  padding: 20px 0 20px 0;
}

.form-box {
  width: 50%;
  box-sizing: border-box;
  min-width: 400px;
  &:first-child {
    border-right: 2px solid #E9E9E9;
  }
}

.input-group {
  padding: 5px 10px 5px 10px;
  margin: 0 20px 0 20px;
}

.error {
  background-color: #ff625f;
  color: #c3261f;
  margin: 20px;
  padding: 10px;
}

h1 {
  text-align: center;
  i {
    font-size: 24px;
    padding-right: 10px;
    color: #484848;
  }
}

legend {
  font-size: 18px;
}

fieldset {
  border: 1px solid #247baf;
}

button, input {
  font-family: Calibri;
  font-size: 18px;
  width: 100%;
  border: none;
}

