<div class="login">
  <div class="form-box">
    <h1>Rejestracja</h1>
    <form #registryForm="ngForm" (ngSubmit)="onRegister(registryForm)">
      <table>
        <tr>
          <td>
            <label for="register-email">Email: </label>
          </td>
          <td>
            <input type="email"
                   name="email"
                   id="register-email"
                   placeholder="email"
                   ngModel
                   required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="nick">Nazwa: </label>
          </td>
          <td>
            <input type="text"
                   id="nick"
                   name="nick"
                   minlength="4"
                   placeholder="nazwa"
                   ngModel
                   required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="register-password">Hasło: </label>
          </td>
          <td>
            <input type="password"
                   id="register-password"
                   name="password"
                   minlength="6"
                   placeholder="hasło"
                   ngModel
                   required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="birth">Data urodzin: </label>
          </td>
          <td>
            <input type="date"
                   id="birth"
                   name="birth"
                   ngModel>
          </td>
        </tr>
        <tr>
          <td>
            <label for="terms">Akceptuję regulamin: </label>
          </td>
          <td>
            <input type="checkbox" name="terms" id="terms" ngModel>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit" class="btn-submit" [disabled]="!registryForm.form.valid">Zarejestruj</button>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div class="form-box">
    <h1>Logowanie</h1>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <table>
        <tr>
          <td>
            <label for="email">Email: </label>
          </td>
          <td>
            <input type="email"
                   name="email"
                   id="email"
                   placeholder="email"
                   ngModel
                   required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">Hasło: </label>
          </td>
          <td>
            <input type="password"
                   id="password"
                   name="password"
                   minlength="6"
                   placeholder="hasło"
                   ngModel
                   required>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit" class="btn-submit" [disabled]="!loginForm.form.valid">Zaloguj się</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
