<div class="filter">
  <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="filter(filterForm.value)" #form="ngForm">
    <table>
      <tr>
        <td>Kategoria</td>
        <td>Marka</td>
        <td>Ilość produktów na stronie</td>
        <td></td>
      </tr>
      <tr>
        <td>
          <select *ngIf="categoryList" formControlName="category">
            <option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</option>
          </select>
        </td>
        <td>
          <select *ngIf="brandList" formControlName="brand">
            <option *ngFor="let brand of brandList" [value]="brand.id">{{brand.name}}</option>
          </select>
        </td>
        <td>
          <select formControlName="number">
            <option value="27">27</option>
            <option value="54">54</option>
            <option value="81">81</option>
          </select>
        </td>
        <td><input type="submit" value="filtruj" [disabled]="!form.valid"></td>
      </tr>
    </table>
  </form>
</div>
