.filter {
  width: 800px;
  margin: 100px auto 0 auto;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

table {
  text-align: center;
}

form {
  align-items: center;
}

input[type="submit"] {
  background-color: #ffe066;
  &:hover {
    background-color: #ffe61b;
  }
  &:active {
    background-color: #ffa51c;
  }
}

@media only screen and (max-width: 800px) {
  .filter {
    width: 100%;
  }
}
