<!--The content below is only a placeholder and can be replaced.-->
<div class="container" (window:scroll)="$event.stopPropagation()">
  <app-navigation></app-navigation>
  <app-left-panel></app-left-panel>
  <app-right-panel></app-right-panel>
  <router-outlet></router-outlet>
  <app-dialog></app-dialog>
  <footer>
    <ul>
      <li>
        Seweryn Gładysz 2018 &copy;
      </li>
      <li>
        <a href="https://github.com/gladki24">
          GitHub
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/seweryngla">
          Facebook
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/seweryn-g%C5%82adysz-b00979160/">
          Linkedin
        </a>
      </li>
    </ul>
  </footer>
</div>
