<section class="carousel">
  <div class="carousel-inner">
    <ul>
      <li *ngFor="let tile of tilesData">
        <a routerLink="explore/{{dataType}}/{{tile.id}}/27">
          <div class="tile" [title]="tile.name">
            <img *ngIf="tile.imgSource; else gradient" [src]="tile.imgSource" [alt]="tile.name">
            <ng-template #gradient>
              <div class="gradient">{{tile.name}}</div>
            </ng-template>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
