$bg: #E9E9E9;

.carousel {
  width: 100%;
}

.carousel-inner {
  margin: 10px;
  padding: 10px;
}

.gradient {
  background: linear-gradient(45deg, #9400d3 , #87cefa);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 26px;
  color: white;
  font-weight: 700;
}

ul {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile {
  display: block;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  background-color: $bg;
  &:hover {
    background-color: darken($bg, 5);
  }
}

img {
  width: 200px;
  height: 200px;
  filter: grayscale(0.2);
}

a:hover {
  text-decoration: none;
}

ul::-webkit-scrollbar {
  height: 10px;
  background-color: #F1F1F1;
  border-radius: 10px;
}

ul::-webkit-scrollbar-button {
  display: none;
}

ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
