
.carousel {
  width: 100%;
}

.carousel-inner {
  margin: 10px;
  padding: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.tile {
  display: block;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  background-color: #E9E9E9;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
  filter: grayscale(0.2);
}
