.collection {
  margin: 100px 0 0 0;
  padding: 20px 40px 40px 40px;
  background-color: white;
  font-size: 22px;
}

table {
  margin: 0 auto 0 auto;
}

img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

td {
  padding: 30px;
  border-top: 1px solid #247baf;
  a {
    cursor: pointer;
  }
}

th {
  font-size: 26px;
}
