<main class="collection">
  <h1>Okno kolekcji: <span *ngIf="title">{{title}}</span></h1>
  <table *ngIf="products && products.length > 0; else empty">
    <tr>
      <th>Nazwa</th>
      <th>Marka</th>
      <th>Zdjęcie</th>
    </tr>
    <tr *ngFor="let product of products">
      <td (click)="showDetails(product.id)">
        <span class="link">{{product.title | lowercase}}</span>
      </td>
      <td>{{product.brandName}}</td>
      <td>
        <img [alt]="product.title" [src]="product.imgSource">
      </td>
    </tr>
  </table>
  <ng-template #empty>
    <h2>Jeszcze nic nie dodano do tej kolekcji :(</h2>
  </ng-template>
</main>
