<main class="collection">
  <h1>Okno kolekcji: <span *ngIf="title">{{title}}</span></h1>
  <table *ngIf="products && products.length > 0; else empty">
    <tr>
      <th>Nazwa</th>
      <th>Marka</th>
      <th class="img">Zdjęcie</th>
      <th></th>
    </tr>
    <tr *ngFor="let product of products">
      <td (click)="showDetails(product.id)">
        <a>{{product.title | lowercase}}</a>
      </td>
      <td>{{product.brandName}}</td>
      <td class="img">
        <img [alt]="product.title" [src]="product.imgSource">
      </td>
      <td *ngIf="userAuth">
        <button (click)="removeProduct(product.id)">Usuń</button>
      </td>
    </tr>
  </table>
  <ng-template #empty>
    <h2>Ta kolekcja jest pusta</h2>
  </ng-template>
</main>
