.collection {
  margin: 100px 0 0 0;
  padding: 20px 40px 40px 40px;
  background-color: white;
  font-size: 22px;
}

table {
  margin: 0 auto 0 auto;
}

img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

td {
  padding: 30px;
  border-top: 1px solid #247baf;
  a {
    cursor: pointer;
  }
}

th {
  font-size: 22px;
}

@media only screen and (max-width: 600px) {
  .collection {
    padding: 20px 10px 40px 10px;
  }

  td {
    padding: 10px;
  }

  img {
    width: 100px;
    object-fit: scale-down;
  }
}

@media only screen and (max-width: 450px) {
  img {
    display: none;
  }
  .img {
    display: none;
  }
}
