.collection {
  margin: 100px 0 0 0;
  padding: 20px 40px 40px 40px;
  background-color: white;
  font-family: Roboto;
  font-size: 22px;
}

h1, h2 {
  font-family: 'Caveat', 'cursive';
}

table {
  margin: 0 auto 0 auto;
  font-family: Roboto;
}

img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

td {
  padding: 30px;
  border-top: 1px solid #247baf;
}

th {
  font-size: 26px;
}

.link {
  font-size: 22px;
  &:hover {
    background: #484848;
    color: white;
    text-decoration: underline;
  }
}
