.dashboard {
  margin: 100px 0 0 0;
  padding: 20px 40px 40px 40px;
}

section {
  flex-grow: 1;
  padding: 0 50px 0 50px;
  border-right: 2px solid #E9E9E9;
}

.button {
  width: 100%;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.add-collection {
  display: flex;
  padding-top: 20px;
  input[type='button'] {
    width: 30%;
  }
  input[type='text'] {
    width: 70%;
  }
}

input, textarea {
  width: 100%;
}

td {
  padding-left: 10px;
}
