<div class="dashboard" *ngIf="userDetails">
  <h1>Panel Użytkownika</h1>
  <nav>
    <ul>
      <li><button (click)="showSection(1)">Dane</button></li>
      <li><button (click)="showSection(2)">Kolekcje</button></li>
      <li><button (click)="showSection(3)">Opcje</button></li>
    </ul>
  </nav>
  <div>
    <section class="user-details" *ngIf="visibleSection == 1">
      <h2>Dane użytkownika: </h2>
      <form [formGroup]="userForm" (ngSubmit)="changeUserDetails(userForm.value, userDetails.id)">
        <table>
          <tr>
            <td>Nazwa: </td>
            <td>{{userDetails.nick}}</td>
          </tr>
          <tr>
            <td>Imię: </td>
            <td><input type="text" [(ngModel)]="userDetails.name" formControlName="name"></td>
          </tr>
          <tr>
            <td>Nazwisko: </td>
            <td><input type="text" [(ngModel)]="userDetails.surname" formControlName="surname"></td>
          </tr>
          <tr>
            <td>E-mail: </td>
            <td>{{userDetails.email}}</td>
          </tr>
          <tr>
            <td>Data urodzin: </td>
            <td>{{userDetails.birthDate | date:'MM.dd.yyyy'}}</td>
          </tr>
          <tr>
            <td>Opis: </td>
            <td>
              <textarea [(ngModel)]="userDetails.description" rows="5" cols="20" formControlName="description">
              </textarea>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="submit" value="Zapisz" class="button">
            </td>
          </tr>
        </table>
      </form>
    </section>
    <section class="user-collections panel" *ngIf="collections && visibleSection == 2">
      <h2>Lista kolekcji: </h2>
      <table>
        <tr>
          <th>Nazwa kolekcji</th><th>Usuń</th>
        </tr>
        <tr *ngFor="let collection of collections">
          <td>
            <a routerLink="/collection/{{collection.id}}">{{collection.title}}</a>
          </td>
          <td>
            <button class="button"
                    (click)="deleteCollection(collection.id)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" [(ngModel)]="newCollectionName" placeholder="Nazwa kolekcji: ">
          </td>
          <td>
            <button (click)="addCollection(newCollectionName)">
              <i class="fas fa-plus"></i>
            </button>
          </td>
        </tr>
      </table>
    </section>
    <section class="settings" *ngIf="visibleSection == 3">
      <h2>Opcje: </h2>
      <input type="button" class="button" value="Wyloguj" (click)="logOut()">
      <input type="button" class="button" value="Usuń konto" (click)="deleteUser()">
    </section>
  </div>
</div>
