$btn-color-left: #f25f5c;
$btn-color-right: #ffe066;
$nav-bar-color: #70c1b3;
$btn-positions: -50px;
$btn-slide: 0px;
$nav-bar-height: 60px;

.navigation {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: $nav-bar-height;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #70c1b3;
}
.nav-shadow {
  box-shadow: 0px 0px 8px 0px #484848;
  border-bottom: none;
}

img {
  height: $nav-bar-height;
}

.left-panel-btn, .right-panel-btn {
  position: relative;
  border: none;
  transition: 0.5s;
  width: 200px;
  height: 60px;
  background-color: white;
  font-size: 28px;
}

.left-panel-btn {
  padding: 5px 0 0 125px;
  left: $btn-positions;
  border-right: 1px solid #F1F1F1;
  &:hover {
    left: $btn-slide;
    background-color: #f25f5c;
    color: white;
  }
}

.right-panel-btn {
  right: $btn-positions;
  padding: 5px 125px 0 0;
  border-left: 1px solid #F1F1F1;
  &:hover {
    right: $btn-slide;
    background-color: #ffe066;
    color: white;
  }
}

@media only screen and (max-width: 600px) {

  .navigation {
    justify-content: space-between;
  }

  .left-panel-btn, .right-panel-btn {
    width: 100px;
    padding: 10px;
  }

  .right-panel-btn {
    right: 0;
    &:hover {
      right: 0;
    }
  }
  .left-panel-btn {
    left: 0;
    &:hover {
      left: 0;
    }
  }
}
