tr, th, td {
  font-size: 22px;
}

table {
  width: 100%;
}

i {
  font-size: 26px;
}

tr, td {
  border-bottom: 1px solid #f25f5c;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  padding: 0 15px 15px 15px;
}
