@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Caveat');

$red: #f25f5c;

body {
  margin: 0;
  background-color: #F1F1F1;
  font-family: Roboto;
  font-size: 16px;
}

div, footer, nav, section, article, aside, main {
  background-color: white;
}

h1, h2, h3 {
  font-family: 'Caveat', 'cursive';
  text-align: center;
  color: #282828;
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

input, select, button, textarea {
  font-family: Roboto;
  font-size: 16px;
  &:focus {
    outline: none;
  }
}

input[type=button], input[type=submit], button {
  text-decoration: none;
  color: black;
  background-color: initial;
  text-align: center;
  border: none;
  border-bottom: 1px solid #f25f5c;
  padding: 5px 2.5px 5px 2.5px;
  margin: 1px;
  cursor: pointer;
  &:disabled{
    color: #686868;
    border-bottom: 1px solid #F1F1F1;
  }
  &:hover:disabled {
    background-color: #aeaeae;
  }
  &:hover {
    background-color: #f25f5c;
    color: white;
  }
}

.active {
  background-color: darken(#f25f5c, 7);
  color: white;
}

input[type=text], input[type=email], input[type=password] {
}

img {
  object-fit: scale-down;
}

a {
  text-decoration: none;
  color: $red;
  &:hover {
    text-decoration: underline;
    color: darken($red, 4);
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

table, th, tr, td {
  font-size: 16px;
  input, button, select {
    width: 100%;
    min-width: 50px;
  }
}

footer {
  width: 100%;
  margin: 20px 0 0 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
  box-sizing: padding-box;
  ul {
    text-align: center;
  }
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F1F1F1;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

div.info {
  background-color: #247baf;
  border: 2px solid #0e42af;
  color: white;
  padding: 10px;
  margin: 20px auto 20px auto;
  text-align: center;
  h2 {
    color: white;
  }
}
